#linked a.in,#facebook span a.fb{width: 16px;height: 16px;margin: 0;border:0;background: none;}
#menu li.current_page_item a {border-top:2px solid #00a754;color:#00a754;}
#footerContent .links li a{ text-transform: capitalize;}
.contact input, .contact textarea{margin-bottom:0px;margin-top:22px;}



